*.out
build/
build_ir/
cmake-build-debug/
cmake-build-release/
.idea/

# VSCode, but include settings.json
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# binaries
cuBLAS_sgemm
simplest

# benchmark results
benchmark_results/

# debug output
matrixValidationFailure.txt

